<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <header class="topo">
        <div class="logo">
            <img src="/static/img/Logo ALV.png">
        </div>

        <div class="barra-pesquisa">
            <img src="/static/img/website_1150563.png">
            <input type="text"  placeholder="Pesquise aqui..." >
        </div>

        <div class="icones">

            <div class="icone-item">
                <img src="/static/img/car_7829458.png" class="icon">
                <button>Minhas reservas</button>
            </div>

            <div class="icone-item">
                <img src="/static/img/bell_2097743.png" class="icon">
                <button>Notificações</button>
            </div>

            <div class="icone-item">
                <img src="/static/img/adjustment_4289046.png" class="icon">
                <button>Configurações</button>
            </div>

            <div class="icone-item">
                <img src="/static/img/do-utilizador.png" class="icon">
                <a href="/login">
                    <button class="botao">Login</button>
                </a>
                
            </div>

            <div class="icone-item">
                <img src="/static/img/register_3456420.png" class="icon">
                <a href="/cadastro_usuario">
                    <button class="botao">Cadastrar-se</button>
                </a>
                
            </div>

        </div>
    </header>

    <nav class="menu">
        <a href="">Alugar um carro</a>
        <a href="">Vantagens</a>
        <a href="">Troca de carro</a>
        <a href="">Para empresas</a>
        <a href="">Soluções</a>
        <a href="">Duvidas</a>
        <a href="">Mais</a>
    </nav>

    <section class="banner"></section>

    <section class="cards-container">

        <div class="card">
            <h3>Fiat Mobi</h3>
            <p>Grupo AM</p>
            <p class="modelo">Fiat Mobi | Renault Kwid</p>
            <img src="/static/img/Grupo-AM-Fiat_MOB.png">
            <p>A partir de:</p>
            <h4>R$ 93.36/Dia</h4>
            <span class="mensal">ou R$ 2.500/mensal</span>
            <button>Alugar</button>
        </div>

        <div class="card">
            <h3>Volkswagen Polo</h3>
            <p>Grupo B</p>
            <p class="modelo">VW Polo | Chevrolet Onix</p>
            <img src="/static/img/Grupo-B-VOLKSWAGEN_POLO_1.png">
            <p>A partir de:</p>
            <h4>R$ 94.10/Dia</h4>
            <span class="mensal">ou R$ 2.700/mensal</span>
            <button>Alugar</button>
        </div>

        <div class="card">
            <h3>Volkswagen Nivus</h3>
            <p>Grupo SU</p>
            <p class="modelo">Nivus | Duster | Pulse</p>
            <img src="/static/img/Grupo-SU-vw_nivus_highline_2024.png">
            <p>A partir de:</p>
            <h4>R$ 99.95/Dia</h4>
            <span class="mensal">ou R$ 2.900/mensal</span>
            <button>Alugar</button>
        </div>

        <div class="card">
            <h3>Volkswagen T-cross</h3>
            <p>Grupo SV</p>
            <p class="modelo">T-Cross | Kicks | Creta</p>
            <img src="/static/img/Grupo-SV_vw_tcross2025_hg_cinza.png">
            <p>A partir de:</p>
            <h4>R$ 120.33/Dia</h4>
            <span class="mensal">ou R$ 3.000/mensal</span>
            <button>Alugar</button>
        </div>

    </section>
</body>
</html>